* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

body {
    opacity: .9;
    background-image: url(../fondo.jpg);
}

.body {
    margin-top: -13px;
}

header {
    background: $colorsecundario;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.pizzaDot {
    color: $colorprimario;
    margin-top: 30px;
}

.logo {
    width: 28px;
    animation-name: logo;
    animation-duration: 3s;

}

@keyframes logo {
    0% {
        transform: rotatez(0deg);
    }

    50% {
        transform: rotatez(365deg);
    }

}

.nav ul {
    margin-left: -25px;
    .rojo {
        color: $colorprimario;
    }    
    a {
        color: $colorterciario;
    }
}

.horarios {
    color: rgb(141, 141, 141);
}

.mainTitulo {
    color: $colorsecundario;
    background: linear-gradient(to bottom, $colorsecundario 1%, $colorprimario 20%);
}