.footer {
    display: flex;
    height: 40px;
    background: rgba(0, 0, 0, 0.919);
    border-top: 2px solid $colorprimario;
    ul {
        display: flex;
        flex-direction: row;
        font-size: 15px;
        li{
            margin: 5px;
            color: $colorterciario;
            img {
                width: 20px;
            }
            .contactoSvg {
                margin: 0 3px -2px ;
            }
        }
    }
}

